// @import "../icons/remixIcon/fonts/remixicon.css";
// @import "../icons/cryptocoins/css/cryptocoins.css";
// Rubik
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
